<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="PythonHandler"
				 path="*"
				 verb="*"
				 modules="httpPlatformHandler"
				 resourceType="Unspecified" />
		</handlers>
		<httpPlatform
			processPath="C:\Python312\python.exe"
			arguments="-m uvicorn runserver:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT% --app-dir d:\ai\"
			stdoutLogEnabled="true"
			stdoutLogFile="D:\ai\logs\python"
			startupTimeLimit="120"
			requestTimeout="00:01:00" />
	</system.webServer>
</configuration>